body
  font-family: $default-font-family
  font-size: 18px
  line-height: 26px
  color: #fff

b, strong
  font-weight: 600

i, em
  font-style: italic

a
  color: white
  text-decoration: underline

h1
  font-size: 50px
  line-height: 34px
  font-weight: 900
  padding: 0 0 100px 0

h2
  font-size: 18px
  font-weight: 600px

p
  letter-spacing: 1px
  font-weight: 100
  margin: 15px 0

.align-left
  float: left
  padding-right: 7px

.align-right
  float: right
  padding-left: 7px
