body
  font-family: $default-font-family
  font-size: 18px
  line-height: 26px
  color: #fff

b, strong
  font-weight: 600

i, em
  font-style: italic

a
  font-weight: 300
  text-decoration: underline

h1
  font-size: 50px
  line-height: 62px
  font-weight: 900

h2
  font-size: 18px
  font-weight: 600

h3
  font-weight: 800

p
  font-size: 18px
  line-height: 28px
  font-style: normal
  font-weight: 300

li
  font-weight: 300

.align-left
  float: left
  padding-right: 7px

.align-right
  float: right
  padding-left: 7px
