.wrapper
  width: 840px
  margin: 0 auto

.inner
  padding: 0 20px

.left
  float: left

.right
  float: right

.clear
  clear: both

.center
  text-align: center

*
  position: relative

@media (max-width: 1070px)

  .wrapper
    width: 100%

  .inner
    padding: 0 100px

@media (max-width: 720px)

  .inner
    padding: 0 20px
