<div class="page-center">
  <h1>Ruvetia.org</h1>

  <div class="intro-text">
    <p>
      Dear Rubyist
    </p>
    <p>
      Are you living in Switzerland and like to program in Ruby?
      Are you looking for like-minded people to exchange ideas,
      engage in projects or just to have a beer? Look no further,
      Ruvetia is the place to meet them.
    </p>
    <p>
      We are a group of Developers looking to build a Swiss-wide community of Rubyists. Join the movement and attend our next meetup. Let your colleagues know about Ruvetia and if you want to bring Ruvetia to your city feel free to drop us a note.
    </p>
    <p>
      Currently we will be communicating everything through the <%= link_to 'Google Group', 'https://groups.google.com/forum/?fromgroups#!forum/ruvetia' %> so make sure to subscribe.
    </p>
  </div>
</div>
