.main
  padding: 80px 0

.main-logo
  display: inline-block
  width: 250px
  vertical-align: top
  overflow: hidden

#navigation-overlay
  position: fixed
  top: 0
  height: 40px
  min-width: 300px
  margin-left: 280px
  padding-top: 50px
  padding-bottom: 0
  padding-left: 20px
  background-color: $red
  width: 800px

  .fadeout
    height: 70px
    padding-left: 20px
    padding-bottom: 20px
    width: 820px
    margin-left: -5px
    width: auto
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,rgba(228,0,0,1)), color-stop(71%,rgba(228,0,0,0.42)), color-stop(100%,rgba(228,0,0,0)))

  .navigation

    ul
      border-bottom: 1px solid #ccc

    li
      display: inline-block
      padding: 5px 5px 5px 5px

      a
        text-decoration: none
        font-weight: 100

#logo-overlay
  position: fixed
  top: 70px
  height: 100%
  width: 100%

  .logo
    width: 250px
    float: left
    max-height: 100%
    text-align: center

#content
  min-width: 300px
  margin-left: 300px
  margin-top: 80px

.logo-big
  width: 250px
  margin-bottom: 20px

.intro-text
  padding-bottom: 120px

.social-media-links
  +horizontal-list

  a
    text-decoration: none
