.main
  padding: 40px 0

.logo-big
  width: 300px

h1
  color: white
  font-size: 75px
  font-weight: 100
  padding: 20px 0

p
  color: white
  letter-spacing: 1px
  +text-shadow(gray 0 0 3px)
  font-size: 22px
  font-weight: 100
  line-height: 28px
  margin: 15px 0
