img.avatar
  +border-radius(100%)
  height: 130px
  width: 130px

.member-image
  text-align: center
  display: inline-block
  width: 20%
  vertical-align: top

.member-social-links
  li
    display: inline

    a
      text-decoration: none

.member-info
  display: inline-block
  width: 70%


ul.team
  li
    padding: 0 0 40px 0
